{% for node in site[page.type] %}
{% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
{% capture interior %}{% if page.type == "conduct" %}interior{% endif %}{% endcapture %}
<div id="{{page.type}}-{{id}}" class="section {{interior}} p-{{page.type}}-{{id}}">
{% if node.icon %}
<div class="sectiondivider imaged">
  <img src="{{node.icon}}" alt="section icon" />
  <h5 class="icon-title">{{ node.title }}</h5>
</div>
{% elsif node.fa-icon %}
  <div class="sectiondivider faicon">
    <span class="fa-stack">
      <i class="fa fa-stack-2x"></i>
      <i class="fa fa-{{ node.fa-icon }} fa-icon-color-{{page.type}}-{{node.title}} fa-stack-1x"></i>
    </span>
    <h5 class="icon-title fa-icon-color-{{page.type}}-{{node.title}}">{{ node.title }}</h5>
  </div>
{% endif %}
<div class="container {{ node.style }}">
  {{ node.content }}
</div>
</div>
{% endfor %}
