<footer class="footer">
	<div class="footer-content">

		<div class="footer-legal">

			<p><a class="footer-logo-link" href="https://www.linuxfoundation.org/projects" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/lf-projects-logo.svg" alt="Linux Foundation" width="416" height="15"></a></p>

			<p>&copy; JS Foundation. All Rights Reserved.</p>

			<p>JS Foundation is a registered trademark of The JS Foundation. Please review the <a href="{{ site.url }}{{ site.baseurl }}/trademark/">Trademark Guidelines</a>.</p>

			<p>Linux Foundation is a registered trademark of The Linux Foundation.</p>

			<p>Linux is a registered trademark of Linus Torvalds.</p>

		</div>

		<div class="footer-nav">
			<nav>
				<h3 class="a11y">Secondary navigation menu</h3>

				{% include menu.html location="footer" %}

			</nav>

			<div class="footer-social">
				<a class="footer-social-link" href="https://twitter.com/{{ site.twitter }}"><img class="footer-social-icon" src="{{ site.url }}{{ site.baseurl }}/assets/img/twitter.svg" alt="Twitter"></a>
				<a class="footer-social-link" href="https://github.com/{{ site.github }}"><img class="footer-social-icon" src="{{ site.url }}{{ site.baseurl }}/assets/img/github.svg" alt="GitHub"></a>
			</div>
		</div>

	</div>
</footer>
