<footer class="footer">
	<div class="footer-content">

		<div class="footer-legal">

			<p><a class="footer-logo-link" href="https://www.linuxfoundation.org/projects" target="_blank"><img src="{{ site.url }}/assets/img/lfcp-logo.png" width="296" height="47"></a></p>

			<p>&copy; JS Foundation. All Rights Reserved.</p>

			<p>JS Foundation is a registered trademark of The JS Foundation. Please review the <a href="{{ site.url }}/trademark/">Trademark Guidelines</a>.</p>

			<p>Linux Foundation is a registered trademark of The Linux Foundation.</p>

			<p>Linux is a registered trademark of Linus Torvalds.</p>

		</div>

		<nav class="footer-nav">

			<h3 class="a11y">Secondary navigation menu</h3>

			{% include menu.html location="footer" %}

		</nav>

	</div>
</footer>
