<head>
	<meta charset="utf-8">
	{% include title.html %}
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="msapplication-tap-highlight" content="no">
	<link rel="apple-touch-icon" href="{{ site.url }}{{ site.baseurl }}/assets/img/jsf-icon.png">
	<link rel="canonical" href="{{page.url}}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/style.css">
</head>
