{% if include.layout %}
	{% assign suffix = include.layout | prepend: "_" | append: "-layout" %}
{% else %}
	{% assign suffix = "" %}
{% endif %}

{% if page.split %}
	{% assign split_tag = page.split | prepend: "<" %}
{% else %}
	{% assign split_tag = "<h2" %}
{% endif %}

{% assign sections = content | markdownify | split: split_tag %}

<main class="main{{ suffix }}">

	{% include subnav.html %}

	<article class="main-content{{ suffix }}">

		<header class="page-header{{ suffix }}">

			{% if page.title %}
				<h1 class="page-title{{ suffix }}">{{ page.title }}</h1>
			{% endif %}

			{% if sections.first != '' and sections.size != 1 %}
				<div class="page-intro{{ suffix }}">
					{{ sections.first }}
				</div>
			{% endif %}

		</header>

		<div class="page-sections{{ suffix }}">

			{% for section in sections %}
				{% unless forloop.first and sections.size != 1 %}
					<section class="page-section{{ suffix }}">
						{% if split_tag != "<h2" and section contains "<h2" %}
							{% assign replacement = '</section><section class="page-section' | append: suffix | append: '"><h2' %}
							{% unless sections.size == 1 %}{{ split_tag }}{% endunless %}{{ section | replace: "<h2", replacement }}
						{% else %}
							{% unless sections.size == 1 %}{{ split_tag }}{% endunless %}{{ section }}
						{% endif %}
					</section>
				{% endunless %}
			{% endfor %}

		</div>

	</article>

	{% if page.footnote %}
		<aside class="page-footnote">
			{{ page.footnote | markdownify }}
		</aside>
	{% endif %}

</main>
