<article class="post">
{% if include.img %}<a class="post-img-link" href="{{ site.url }}{{ site.baseurl }}{{ include.url }}"><img class="post-img" src="{{ site.url }}{{ site.baseurl }}/img/posts/{{ include.img }}" alt="{{ include.title }}"></a>{% endif %}
<header class="post-header">
<p class="post-meta"><span class="post-date">{{ include.date }}</span>{% if include.category %}<span class="post-category">{{ include.category }}</span>{% endif %}</p>
<h2 class="post-title"><a class="post-title-link" href="{{ site.url }}{{ site.baseurl }}{{ include.url }}">{{ include.title }}</a></h2>
</header>
<div class="post-excerpt">
{{ include.excerpt }}
<a class="post-more-link" href="{{ site.url }}{{ site.baseurl }}{{ include.url }}">Read more ...</a>
</div>
</article>
