.main {
	&_announcements-layout,
	&_center-layout,
	&_home-layout,
	&_left-layout,
	&_blog-layout,
	&_post-layout,
	&_cards-layout {
		background: #fff;
		color: #343433;
		min-height: calc( 100vh - 86px );
	}
}

.main_home-layout {
	min-height: 40%;
}

.main-content {
	&_announcements-layout,
	&_center-layout,
	&_home-layout,
	&_left-layout,
	&_blog-layout,
	&_post-layout,
	&_cards-layout {
		@extend %content;
		padding: 2rem 1rem;
	}

	&_left-layout,
	&_blog-layout {
		@extend %clearfix;
	}
}

.page-title {
	&_announcements-layout,
	&_center-layout,
	&_left-layout,
	&_blog-layout,
	&_cards-layout {
		text-align: center;

		&::after {
			border-bottom: 1px solid;
			content: '';
			display: block;
			margin: 1.5rem auto 0;
			width: 70px;
		}
	}
}

.page-intro {
	&_center-layout,
	&_home-layout,
	&_left-layout,
	&_blog-layout,
	&_cards-layout {
		font-size: 1.125rem;
		font-weight: 300;
	}

	&_announcements-layout,
	&_center-layout,
	&_home-layout,
	&_cards-layout {
		padding: 0 1rem 1.5rem;
	}
}

.page-sections {
	&_center-layout {
		background: #eee;
		color: #555;
		padding: .5rem 1rem;
	}
}

.page-section {
	&_center-layout,
	&_left-layout {
		& > h2 {
			text-transform: uppercase;
		}
	}

	&_left-layout {
		background: #eee;
		color: #555;
		margin-bottom: 1rem;
		padding: 1rem;
	}

	&_center-layout {
		border-bottom: 1px solid #ddd;
		margin: 0 auto;
		max-width: 44rem;
		padding: .5rem 0;

		&:last-child {
			border: 0;
		}
	}
}

/* Footnote */

.page-footnote {
	@extend %content;
	font-size: .9375rem;
	padding: .5rem 1rem;
	text-align: center;
}

/* Posts and announcements */

.announcement,
.post {
	@extend %clearfix;
	background: #eee;
	color: #555;
	margin-bottom: 3rem;
	padding: 2rem;
}

.announcement-img,
.post-img {
	display: block;
	margin-bottom: 2rem;
}

.announcement-header,
.post-header {
	margin-bottom: 2.25rem;
}

.announcement-meta,
.post-meta {
	color: #999;
	font-size: .875rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.post-category {
	font-weight: 700;
	margin-left: .5rem;

	&::before {
		content: '|';
		display: inline-block;
		font-weight: 400;
		margin-right: .5rem;
	}
}

.announcement-title,
.post-title {
	line-height: 1.3;
	margin-bottom: 0;

	&-link {
		color: inherit;
	}
}

.announcement-subtitle {
	color: #999;
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 400;
	line-height: 1.3;
	margin-top: .75rem;
}

.post-excerpt {
	font-size: 1rem;
}

.announcement-excerpt {
	font-size: 1.125rem;
}

.announcement-more-link,
.post-more-link {
	color: #999;
	font-size: 1rem;
	font-weight: bold;
}

.announcements {
	margin: 0 auto;
	max-width: 60rem;
}

.page-header_post-layout,
.page-content_post-layout {
	margin: 0 auto;
	max-width: 44rem;
}

.page-header_post-layout {
	margin-bottom: 3rem;
}

.page-title_post-layout {
	font-weight: 700;
	margin-bottom: 0;
	text-transform: none;
}

.page-subtitle_post-layout {
	color: #999;
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 400;
	line-height: 1.3;
	margin-top: 1.5rem;
}

/* Cards */

.card {
	padding: .5rem 0;
}

.card-link {
	background: #eee;
	box-sizing: border-box;
	color: #555;
	display: block;
	height: 100%;
	padding: 1rem 1.5rem;
	transition: background 150ms ease-out;

	&:hover {
		background: #ddd;
		text-decoration: none;

		& > .card-title {
			border-color: #ccc;
		}
	}
}

.card-title {
	border-bottom: 1px solid #ddd;
	margin-bottom: 2rem;
	padding-bottom: .5rem;
	transition: border-color 150ms ease-out;
}

.card-logo-container {
	min-height: 100px;
	margin-bottom: 2rem;
	position: relative;
}

.card-logo {
	max-height: 100px;
	max-width:  150px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.card-content {
	font-size: 1rem;
}

/* avatars */

.avatar {
	display: inline-block;
	margin: 1.5rem 3rem 1.5rem 0;
	text-align: center;

	&-img,
	&-title {
		margin-bottom: .25rem;
	}

	&-img {
		border-radius: 50%;
	}

	&-name,
	&-title {
		margin-bottom: 0;
	}

	&-name {
		font-size: 1.25rem;
		font-weight: 400;
	}

	&-title {
		color: #757575;
		font-size: .675rem;
		text-transform: uppercase;
	}
}

/* Home page */

.home-tagline {
	width: 500px;
	max-width: 80%;
	margin-bottom: .625rem;
}

/* Members page */

.page_members .page-section_left-layout {
	text-align: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.member {
	display: inline-block;
	margin: 0 1.5rem 1.5rem;

	&-link {
		background: #e5e5e5;
		border: 1px solid #d5d5d5;
		border-radius: 100%;
		color: inherit;
		display: block;
		overflow: hidden;
		padding: 1rem;
		transition: background-color 150ms ease-out, border-color 150ms ease-out;

		&:hover,
		&:focus {
			background: #ddd;
			border-color: #ccc;
		}
	}

	&-link,
	&-logo {
		display: block;
		height: 150px;
		width: 150px;
	}
}

/* Donate page */

.payment-method {
	border: 1px solid #ddd;
	display: inline-block;
	padding: 2.5rem 4rem;
}

.payment-method select {
	display: block;
	margin: 0 auto 2rem;
}

@media (min-width:50em) {
	.main-content {
		&_announcements-layout,
		&_center-layout,
		&_home-layout,
		&_left-layout,
		&_blog-layout,
		&_post-layout,
		&_cards-layout {
			padding: 2rem;
		}
	}

	.page-intro {
		&_center-layout,
		&_home-layout,
		&_cards-layout {
			padding: 0 2rem 2rem;
		}
	}

	.page-sections {
		&_center-layout {
			padding: 1rem 1.5rem;
		}
	}

	.page-section {
		&_left-layout {
			margin-bottom: 2rem;
			padding: 2rem 3rem;
		}

		&_center-layout {
			padding: 1rem 1.5rem;
		}
	}

	.page-footnote {
		padding: .5rem 2rem;
	}

	.announcement {
		padding: 2rem 3rem;
	}

	.post-header {
		box-sizing: border-box;
		float: left;
		padding-right: 2rem;
		width: 50%;
	}

	.post-meta {
		margin-bottom: .5rem;
	}

	.post-excerpt {
		box-sizing: border-box;
		border-left: 1px solid #ddd;
		float: left;
		padding-left: 2rem;
		width: 50%;

		& > p {
			text-align: justify;
		}
	}

	.cards {
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		-moz-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.card {
		box-sizing: border-box;
		padding: 1rem;
		width: 50%;

		&-link {
			padding: 1rem 2rem;
		}
	}
}

@media (min-width:75em) {
	.main-content {
		&_announcements-layout,
		&_center-layout,
		&_home-layout,
		&_left-layout,
		&_blog-layout,
		&_post-layout,
		&_cards-layout {
			padding: 3rem;
		}
	}

	.page-header {
		&_left-layout,
		&_blog-layout {
			box-sizing: border-box;
			float: left;
			padding-right: 3rem;
			width: 33%;
		}
	}

	.page-title {
		&_left-layout,
		&_blog-layout {
			text-align: left;

			&::after {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	.page-intro {
		&_announcements-layout,
		&_center-layout,
		&_cards-layout {
			-webkit-columns: 2;
			-moz-columns: 2;
			columns: 2;
			-webkit-column-gap: 3rem;
			-moz-column-gap: 3rem;
			column-gap: 3rem;
			padding: 0 6rem 3rem;
		}

		&_announcements-layout,
		&_center-layout,
		&_left-layout,
		&_blog-layout,
		&_cards-layout {
			& > p {
				text-align: justify;
			}
		}

		&_home-layout {
			padding: 0 6rem 3rem;
			font-size: 1.25rem;
		}

		&_announcements-layout,
		&_center-layout,
		&_cards-layout {
			& > p {
				overflow: hidden;
				-webkit-column-break-inside: avoid;
				page-break-inside: avoid;
				break-inside: avoid;
				margin-bottom: 0;
				padding-bottom: 1em;
			}
		}
	}

	.page-sections {
		&_center-layout {
			padding: 1.5rem 3rem;
		}

		&_left-layout {
			float: left;
			width: 67%;
		}
	}

	.page-section {
		&_left-layout {
			margin-bottom: 3rem;
			padding: 3rem 6rem;
		}

		&_center-layout {
			padding: 1.5rem 3rem;
		}
	}

	.page-footnote {
		padding: .5rem 3rem;
	}

	.posts {
		float: left;
		width: 67%;
	}

	.announcement {
		padding: 2rem 4rem;
	}

	.cards {
		// TODO only if needed
		&::after {
			content: '';
			-webkit-box-flex: 1;
			-webkit-flex: auto;
			-moz-box-flex: 1;
			-ms-flex: auto;
			flex: auto;
		}
	}

	.card {
		width: 33%;
		width: calc( 100% / 3 );
	}
}
