button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font-family: inherit;
	line-height: 1.15;
	font-size: 100%;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #ff2b6e;
	border: 0;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700;
	padding: .5rem 1rem;
	transition: background 150ms ease-out;

	&:hover,
	&:focus {
		background: lighten( #ff2b6e, 15% );
	}
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

select::-ms-expand {
	display: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

::-webkit-input-placeholder {
	color: #aaa;
}

:-ms-input-placeholder {
	color: #aaa;
}

::-moz-placeholder {
	color: #aaa;
}

:-moz-placeholder {
	color: #aaa;
}

[type="text"],
[type="search"],
[type="email"],
[type="url"],
[type="tel"],
[type="number"],
[type="date"],
[type="month"],
[type="week"],
[type="time"],
[type="datetime"],
[type="datetime-local"],
textarea {
	box-sizing: border-box;
	border: 1px solid #c0c0c0;
	border-radius: 2px;
	font-size: 1rem;
	width: 20rem;
	max-width: 100%;
	padding: .5rem;
}

[size] {
	width: unset;
}

textarea {
	overflow: auto;
	resize: vertical;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiM5OTkiIGhlaWdodD0iMjQiIHdpZHRoPSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNyAxMGw1IDUgNS01eiIvPjwvc3ZnPg==');
	background-position: 100% center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
	border: 1px solid #c0c0c0;
	border-radius: 2px;
	box-sizing: border-box;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1rem;
	height: 2rem;
	line-height: 2rem;
	max-width: 100%;
	padding: 0 2rem 0 .5rem;
}

label {
	font-size: .875rem;
	text-transform: uppercase;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
