@media (min-width:80em) {
	%content {
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 80rem;
	}
}

%clearfix {
	&::before,
	&::after {
		content: '';
		display: table;
	}

	&::after {
		clear: both;
	}
}
