audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
	border-style: none;
	height: auto;
	max-width: 100%;
}

svg {
	overflow: hidden;
}

.icon {
	fill: currentColor;
	height: 2rem;
	width: 2rem;
}

figure,
figcaption {
	display: block;
}

figure {
	margin: 1em 40px;
}

iframe {
	max-width: 100%;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}
