a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
	color: #ff2b6e;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&:active,
	&:hover {
		outline-width: 0;
	}
}

a.current {
	cursor: default;
	pointer-events: none;
}

.header-menu {
	display: none;
}

.offcanvas-nav-control,
.offcanvas-nav-close-control {
	background: none;
	color: inherit;
	padding: 0;
	transition: color 150ms ease-out;

	&:hover,
	&:focus {
		background: none;
		outline: 0;
	}
}

.offcanvas-nav-control {
	&:hover,
	&:focus {
		color: #abe2ff;
	}
}

.offcanvas-nav-close-control {
	position: absolute;
	right: 1rem;
	top: 1rem;

	&:hover,
	&:focus {
		color: lighten( #343433, 30% );
	}
}

.offcanvas-nav {
	background: #fff;
	bottom: 0;
	height: 100%;
	max-width: 90%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	right: -20rem;
	top: 0;
	-webkit-transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
	transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
	width: 20rem;
	z-index: 9999;

	&.is-hidden {
		display: none;
	}
}

.csstransforms .offcanvas-nav {
	right: 0;
	-webkit-transform: translateX(20rem);
	transform: translateX(20rem);
}

.offcanvas-nav.is-expanded {
    right: 0;
	-webkit-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.no-js .offcanvas {
	background: #fff;
	bottom: unset;
	display: block;
	height: unset;
	max-width: unset;
	overflow-x: unset;
	overflow-y: unset;
	position: unset;
	right: unset;
	top: unset;
	transition: unset;
	width: unset;
	z-index: unset;
}

.no-js .offcanvas-nav-close-control {
	display: none;
}

.offcanvas-menu {
	list-style: none;
	margin: 0;
	padding: 2rem;

	&-item {
		border-bottom: 1px solid #eee;
		display: block;
		font-size: .875rem;
		margin: 0;
		padding: 1rem 0;
		text-transform: uppercase;
	}

	&-link {
		color: inherit;
		display: block;
		font-weight: 700;
		transition: color 150ms ease-out;

		&:hover,
		&:focus,
		&.current {
			color: lighten( #343433, 30% );
			text-decoration: none;
		}
	}
}

.offcanvas-submenu {
	list-style: none;
	margin: 0;
	padding: .75rem 0 0 1.5rem;

	&-item {
		display: block;
		font-size: .75rem;
		margin: 0;
		padding: .75rem 0;
		text-transform: uppercase;
	}

	&-link {
		color: inherit;
		display: block;
		font-weight: 700;
		transition: color 150ms ease-out;

		&:hover,
		&:focus {
			color: lighten( #343433, 30% );
			text-decoration: none;
		}

		&.current {
			color: lighten( #343433, 30% );
		}
	}
}

.footer-menu {
	list-style: none;
	margin: 0;
	padding: 0;

	&-item {
		font-size: .875rem;
		margin: 0 0 .5rem;
	}

	&-link {
		color: inherit;
		font-weight: 700;
		transition: color 150ms ease-out;

		&:hover,
		&:focus {
			color: darken( #999, 20% );
			text-decoration: none;
		}

		&.current {
			color: darken( #999, 20% );
		}
	}
}

.page-sub-nav-content {
	@extend %clearfix;
	@extend %content;
	padding: 2rem 1rem 0;
	text-align: center;
}

%page-sub-nav-link {
	color: #53a5da;
	font-size: .8125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: color 150ms ease-out;

	&:hover,
	&:focus {
		color: darken( #53a5da, 20% );
		text-decoration: none;
	}
}

.page-parent-link {
	@extend %page-sub-nav-link;
	display: inline-block;
	margin-bottom: 2rem;

	&-icon {
		display: inline-block;
		fill: currentColor;
		height: 1.5rem;
		width: 1.5rem;
	}
}

.page-submenu {
	list-style: none;
	margin: 0;
	padding: 0;

	&-item {
		margin: 0 0 .5rem;
	}

	&-link {
		@extend %page-sub-nav-link;
	}
}

@media (min-width:48em) {
	.page-sub-nav-content {
		padding: 3rem 2rem 0;
		text-align: unset;
	}

	.page-parent-link {
		display: block;
		float: left;
	}

	.page-submenu {
		float: right;

		&-item {
			float: left;
			margin: 0 0 0 1.5rem;
		}
	}
}

@media (min-width:60em) {
	.offcanvas-nav-control {
		float: left;
	}

	.header-menu {
		display: block;
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;

		&-item {
			float: left;
			font-size: .8125rem;
			line-height: 2rem;
			margin: 0 2rem 0 0;
			text-transform: uppercase;
		}

		&-link {
			color: inherit;
			font-weight: 700;
			transition: color 150ms ease-out;

			&:hover,
			&:focus,
			&.current {
				color: #abe2ff;
				text-decoration: none;
			}
		}
	}
}

@media (min-width:75em) {
	.page-sub-nav-content {
		padding: 3rem 3rem 0;
	}
}
