<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="no-js">

	{% include head.html %}

	<body class="announcements-layout page_{{ page.title | slugify }}">

		{% include header.html %}

		<main class="main_announcements-layout">

			{% include subnav.html %}

			<div class="main-content_announcements-layout">

				<header class="page-header_announcements-layout">

					<h1 class="page-title_announcements-layout">{{ page.title }}</h1>

					{{ content }}

				</header>

				<div class="announcements">

					{% assign posts = site.posts | sort: 'date' | reverse %}
					{% for post in posts %}
						{% assign date = post.date | date: '%B %-d, %Y' %}
						{% include post.html url=post.url original=post.original title=post.title author=post.author ahandle=post.ahandle excerpt=post.excerpt img=post.img date=date category=post.category %}
					{% endfor %}

				</div>

			</div>

		</main>

		{% include footer.html %}

		{% include offcanvas.html %}

		{% include footer-scripts.html %}

	</body>
</html>
