<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="no-js">

	{% include head.html %}

	<body class="cards-layout">

		{% include header.html %}

		<main class="main_cards-layout">

			<div class="main-content_cards-layout">

				<header class="page-header_cards-layout">

					<h1 class="page-title_cards-layout">{{ page.title }}</h1>

					{{ content }}

				</header>

				<div class="cards">

					{% for card in site[ page.collection ] %}
						{% include card.html collection=page.collection name=card.name site=card.site logo=card.logo content=card.content %}
					{% endfor %}

				</div>

			</div>

		</main>

		{% include footer.html %}

		{% include offcanvas.html %}

		{% include footer-scripts.html %}

	</body>
</html>
