<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="css/combo.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
	{% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
</head>

<body>
  <div id="main">

  {{ content }}

  </div>
  <div id="footer" class="section text-white">
      <div class="container">
          <p><img src="img/lfcp.png" /></p>
          <p>© jQuery Foundation. All Rights Reserved.</p>
          <p>jQuery is a registered trademark of jQuery Foundation, Inc. Please review the <a href="trademark">Trademark Guidelines</a>.</p>
          <p>Linux Foundation is a registered trademark of The Linux Foundation.</p>
          <p>Linux is a registered trademark of Linus Torvalds.</p>
      </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="js/site.js"></script>
{% include analytics.html %}
</html>
