<!DOCTYPE html>
<html dir="ltr" lang="en-US">

	{% include head.html %}

	<body class="post-layout">

		{% include header.html %}

		<main class="main_post-layout">

			<article class="main-content_post-layout">

				<header class="page-header_post-layout">

					<p class="post-meta"><span class="post-date">{{ page.date | date: '%B %-d, %Y' }}</span>{% if page.category %}<span class="post-category">{{ page.category }}</span>{% endif %}</p>

					<h1 class="page-title_post-layout">{{ page.title }}</h1>

					{% if page.img %}<img class="post-img" src="{{ site.url }}/img/posts/{{ page.img }}" alt="{{ page.title }}">{% endif %}

				</header>

				<div class="page-content_post-layout">

					{{ content }}

				</div>

			</article>

		</main>

		{% include footer.html %}

		{% include offcanvas.html %}

		{% include footer-scripts.html %}

	</body>
</html>
