<!DOCTYPE html>
<html dir="ltr" lang="en-US">

	{% include head.html %}

	<body class="projects-layout">

		{% include header.html %}

		<main class="main_projects-layout">

			<div class="main-content_projects-layout">

				<header class="page-header_projects-layout">

					<h1 class="page-title_projects-layout">{{ page.title }}</h1>

					{{ content }}

				</header>

				<div class="projects">

					{% for project in site.projects %}
						{% include project.html name=project.name site=project.site logo=project.logo content=project.content %}
					{% endfor %}

				</div>

			</div>

		</main>

		{% include footer.html %}

		{% include offcanvas.html %}

		{% include footer-scripts.html %}

	</body>
</html>
